
.shahmeer .shahzaib{
    color:blueviolet
}



#title, #newtitle{
    color:chocolate
}

.jiffy{
    font-weight: 1000;
    color: red
}

.silly#willy{
    color:cadetblue;
}

.tom .jerry.jones{
    color:yellowgreen
}

#c{
    background-color: green;
    color: red;
}

.a #c{
    background-color: blue;
    color: orange;
}
